In [5]:
import pandas as pd
import numpy as np
print("Dataframe . apply function :\n")
info=pd.DataFrame([[3,9]]*4,columns=['S','R'])
print("\n Original Dataframe :\n",info)
print("\n Squareroot of Dataframe :\n",info.apply(np.sqrt))
print("\n Sum of each column :\n",info.apply(np.sum,axis=0))
print("\n Sum of each row :\n",info.apply(np.sum,axis=1))

Dataframe . apply function :


 Original Dataframe :
    S  R
0  3  9
1  3  9
2  3  9
3  3  9

 Squareroot of Dataframe :
           S    R
0  1.732051  3.0
1  1.732051  3.0
2  1.732051  3.0
3  1.732051  3.0

 Sum of each column :
 S    12
R    36
dtype: int64

 Sum of each row :
 0    12
1    12
2    12
3    12
dtype: int64

In [8]:
info=pd. DataFrame([[2,4,6],[1,3,5],[5,7,8]],columns=['X','Y','Z'])
print("\n Original DataFrame :\n",info)
print("\n Minimum and Maximum of each column :\n")
print(info.agg (['min','max']))

 Original DataFrame :
    X  Y  Z
0  2  4  6
1  1  3  5
2  5  7  8

 Minimum and Maximum of each column :

     X  Y  Z
min  1  3  5
max  5  7  8

In [9]:
print("\n DataFrame . Assign Function :\n")

 DataFrame . Assign Function :

In [11]:
d2=pd. DataFrame([['Sai',88],['Ravi',70]],columns=['EMP','ID'])
print("\n Original DataFrame :\n",d2)

 Original DataFrame :
     EMP  ID
0   Sai  88
1  Ravi  70

In [12]:
d2['Age']=[20,18]
print("\n Adding new column :\n",d2)

 Adding new column :
     EMP  ID  Age
0   Sai  88   20
1  Ravi  70   18

In [13]:
d=d2. assign(Sex=['Male','Male'])
print("\n Adding new column :\n",d)

 Adding new column :
     EMP  ID  Age   Sex
0   Sai  88   20  Male
1  Ravi  70   18  Male

In [14]:
print("\n DataFrame . SortFunction :\n")
info=pd.DataFrame(np.random.randn(5,2),index=[3,2,0,4,1],columns=['col3','col4'])
print(info)

 DataFrame . SortFunction :

       col3      col4
3  0.592507 -0.092602
2  0.438146  0.546831
0 -0.608021 -1.797969
4  1.785644 -0.271345
1 -0.105647  0.642269

In [22]:
info2=info.sort_index()
print("\n sortindex :\n",info2)

 sortindex :
        col3      col4
0 -0.608021 -1.797969
1 -0.105647  0.642269
2  0.438146  0.546831
3  0.592507 -0.092602
4  1.785644 -0.271345

In [23]:
info3=info.sort_values(by='col3')
print("\n sort values:\n",info3)

 sort values:
        col3      col4
0 -0.608021 -1.797969
1 -0.105647  0.642269
2  0.438146  0.546831
3  0.592507 -0.092602
4  1.785644 -0.271345