In [1]:
import pandas as pd
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [3]:
emp=pd.Series(['Dharshan','Sudeep','Siva','Yash','Ravi'])
id=pd.Series([80,90,28,57,49])
frame={'EMP':emp,'ID':id}
result=pd.DataFrame(frame)
print("\nSeries to DataFrame\n")
print(result)

Series to DataFrame

        EMP  ID
0  Dharshan  80
1    Sudeep  90
2      Siva  28
3      Yash  57
4      Ravi  49

In [5]:
print("\n Extracting one Column :\n")
print(result['EMP'])

 Extracting one Column :

0    Dharshan
1      Sudeep
2        Siva
3        Yash
4        Ravi
Name: EMP, dtype: object

In [9]:
print("\n Adding new Column :\n")
result['ID']=pd.Series([80,90,28,56,89])
result['Age']=pd.Series([29,30,31,33,28])
print(result)

 Adding new Column :

        EMP  ID  Age
0  Dharshan  80   29
1    Sudeep  90   30
2      Siva  28   31
3      Yash  56   33
4      Ravi  89   28

In [7]:
print("\n Deleting new Column :\n")
del result['Age']
print(result)

 Deleting new Column :

        EMP  ID
0  Dharshan  80
1    Sudeep  90
2      Siva  28
3      Yash  56
4      Ravi  89

In [10]:
print("\n Extracting the Second row :\n")
print(result.loc[1])

 Extracting the Second row :

EMP    Sudeep
ID         90
Age        30
Name: 1, dtype: object

In [11]:
print("Slice rows:\n",result[1:4])

Slice rows:
       EMP  ID  Age
1  Sudeep  90   30
2    Siva  28   31
3    Yash  56   33

In [21]:
d2=pd.DataFrame([['Vicky',100],['Rashid',109]],columns = ['EMP','ID'])
print("\n Adding new row Values :\n")
print(pd.concat([result,d2]))

 Adding new row Values :

        EMP   ID   Age
0  Dharshan   80  29.0
1    Sudeep   90  30.0
2      Siva   28  31.0
3      Yash   56  33.0
4      Ravi   89  28.0
0     Vicky  100   NaN
1    Rashid  109   NaN